$main-color: #0069d9;

.container{
  padding-top: 40px;
}
header{
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}
.form-inline {
  display: block;
}
.select-block{
  text-align: right;
}
.bg-img{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 50%;
}
.product{
  text-align: center;
  cursor: pointer;
  position: relative;
  input{
    position: absolute;
    left: 0;
    top: 0;
  }
  h4{
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 400;
  }
  h5{
    font-size: 17px;
    margin: 0;
    span{
      color: green;
      font-size: 12px;
    }
  }
  i{
    font-size: 12px;
    color: $main-color / 2;
    text-transform: uppercase;
  }
}
.add-product-block{
  input{
    margin-bottom: 10px;
  }
  .input-group{
    padding-bottom: 10px;
  }
}